<nav class="navbar">
    <div class="nav-container">

        <div class="nav-logo">
            <a href="{{ url_for('home.home') }}">Nexus Marketplace</a>
        </div>

        <ul class="nav-links">
            <li><a href="{{ url_for('home.home') }}">Home</a></li>

            <li>
                <a href="{{ url_for('shop.shop') }}">Shop</a>
            </li>

            <li>
                <a href="{{ url_for('home.about') }}">About</a>
            </li>

            <li>
                <a href="{{ url_for('account.account') }}">Account</a>
            </li>

            <li>
                <a href="{{ url_for('auth.register') }}">Login / Register</a>
            </li>
        </ul>

    </div>
</nav>
